*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

h2{
    font: bold 14px sans-serif; 
}

header, section, footer, aside, nav, article{
    display: block;
}

body{
    text-align: center;
    background: #1E3D75;
}

.agrupar{
    width: 980px;
    border: 1px solid black; 
    margin: 15px auto; 
    background:#6f8fc9;
}

.cabecera {
    background: #407FF5;
    border: 1px solid #999;
    padding: 20px; 
}

.cabecera h1{
    text-align: left;
}

.menu{
    background: #b0bbcf;
    padding: 5px 15px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana; 
    display: inline;
    
}

article{
    background: #8AB0F7;
    border: 1px solid #999; 
    padding: 20px;
    margin-bottom: 15px;
    text-align: left;
    font-family: sans-serif;
    border-radius: 5px;
}

.seccion{
    margin: 20px;
    width: 600px; 
    float: left;
}

.columna{
    width: 300px;
    float: left;
    margin: 20px 0px; 
    
}

.columna blockquote{
    border: 1px solid gray;
    padding: 40px;
    background: #8ab0f7;
    margin-bottom: 20px;
    border-radius: 5px;
}

.columna img{
    width: 100px;
    display: block;
    margin: 20px auto;
}

.pie{
    clear: both;
    padding: 20px;
    background: #2d3436;
    color: #ffffff; 
    text-align: right;
}